<div class="main_cont">
  <div class="header">
    <img class="logged" *ngIf="authService.isAuthenticated()" src="https://image.flaticon.com/icons/svg/154/154348.svg" (click)="authService.logout()" >
    
    <h2 class="greeting" *ngIf="user">Hello, {{user.name}}!</h2>  
  </div>
  <div *ngIf="places===undefined">
      <h2>LOADING.....</h2>
  </div>

  <table *ngIf="!useMap">
    <thead>
      <tr>
        <th>Place Name</th>
        <th>Distance (Miles)</th>
        <th>Actions</th>
      </tr>
    </thead> 
    <tbody *ngFor="let number of [0,1,2,3,4]" >
      <tr *ngFor="let place of places">
        <td *ngIf="place[number]">{{place[number].name}}</td>
        <td *ngIf="place[number]">{{place[number].distance}}</td>
        <td *ngIf="place[number]"><button (click)="onVisited(place[number])">Been There</button></td>
      </tr>
    </tbody>
  </table>
  
  <div id="map_container" *ngIf="map">
    <agm-map #gm class="map" *ngIf="useMap"
      [latitude]="map.lat"
      [longitude]="map.long"
      [styles]='[
      {
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ebe3cd"
          }
        ]
      },
      {
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#523735"
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#f5f1e6"
          }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#c9b2a6"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#dcd2be"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ae9e90"
          }
        ]
      },
      {
        "featureType": "landscape.natural",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#a6d194"
          }
        ]
      },
      {
        "featureType": "landscape.natural.terrain",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#998b73"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#93817c"
          }
        ]
      },
      {
        "featureType": "poi.attraction",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#a5b076"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#447530"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f5f1e6"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "weight": 1.5
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#fdfcf8"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f8c967"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "weight": 1.5
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#e9bc62"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e98d58"
          }
        ]
      },
      {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#db8555"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#806b63"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#8f7d77"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#ebe3cd"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#add9da"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#92998d"
          }
        ]
      }
    ]'
      [zoom]="map.zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true">
      <agm-marker
        [latitude]="map.lat"
        [longitude]="map.long"
        [iconUrl]="userIconUrl"
        >
        <agm-info-window #infoWindow>
          <h3>YOU</h3>
        </agm-info-window>
    </agm-marker>
      <div *ngFor="let number of [0,1,2,3,4]"> 
        <div *ngFor="let place of places">      
          <agm-marker *ngIf="place[number]"
            [latitude]="place[number].geometry.location.lat"
            [longitude]="place[number].geometry.location.lng"
            [iconUrl]="iconUrl[place[number].types[0]]"
            [markerDraggable]="false"
            (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
            <agm-info-window #infoWindow>
              <h3>{{place[number].name}}</h3>
              <p>{{place[number].distance}} mi</p>
              <button class="btn" (click)="addPlace(place[number].place_id)">Been There</button>
            </agm-info-window>
          </agm-marker>
        </div>
      </div>
    </agm-map>
  </div>
  <div>
    <form class="form form_types form-group" (submit)="onFilter()">
      <label>Type:
        <select name="type" [(ngModel)]="filter.type">
          <option value="all">All</option>s
          <option value="amusement_park">Amusement Park</option>
          <option value="aquarium">Aquarium</option>
          <option value="art_gallery">Art Gallery</option>
          <option value="campground">Campground</option>
          <option value="casino">Casino</option>
          <option value="park">Park</option>
          <option value="library">Library</option>
          <option value="movie_theater">Movie Theater</option>
          <option value="museum">Museum</option>
          <option value="night_club">Night Club</option>
        </select>
      </label>
      <label>     Distance Range (Miles): <input name="range" type="number" value="0.6" step="0.1" min="0" [(ngModel)]="filter.range"></label>
      <br>
      <input class="submit" type="submit" value="Filter">
    </form>    
  </div>

</div>