<div>
  <h2>Hello {{user.name}}</h2>
  <h3>Filter</h3>
  <form (submit)="onFilter()">
    <label>Type:
      <select name="type" [(ngModel)]="filter.type">
        <option value="all">All</option>s
        <option value="amusement_park">Amusement Park</option>
        <option value="aquarium">Aquarium</option>
        <option value="art_gallery">Art Gallery</option>
        <option value="campground">Campground</option>
        <option value="casino">Casino</option>
        <option value="park">Park</option>
        <option value="library">Library</option>
        <option value="movie_theater">Movie Theater</option>
        <option value="museum">Museum</option>
        <option value="night_club">Night Club</option>
      </select>
    </label>
    <label>Distance Range: <input name="range" type="number" value="0.6" step="0.1" min="0" [(ngModel)]="filter.range"> - Miles</label>
    <input type="submit" value="Filter">
  </form>

  <table *ngIf="!useMap">
    <thead>
      <tr>
        <th>Place Name</th>
        <th>Distance (Miles)</th>
        <th>Actions</th>
      </tr>
    </thead> 
    <tbody *ngFor="let number of [0,1,2,3,4]" >
      <tr *ngFor="let place of places">
        <td *ngIf="place[number]">{{place[number].name}}</td>
        <td *ngIf="place[number]">{{place[number].distance}}</td>
        <td *ngIf="place[number]"><button (click)="onVisited(place[number])">Been There</button></td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="map">
    <agm-map *ngIf="useMap"
      [latitude]="map.lat"
      [longitude]="map.long"
      [zoom]="map.zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true">
      <agm-marker
        [latitude]="map.lat"
        [longitude]="map.long">
        <agm-info-window>
          <h3>YOU</h3>
        </agm-info-window>
    </agm-marker>
      <div *ngFor="let number of [0,1,2,3,4]"> 
        <div *ngFor="let place of places">      
          <agm-marker *ngIf="place[number]"
            [latitude]="place[number].geometry.location.lat"
            [longitude]="place[number].geometry.location.lng"
            [label]="place[number].types[0]"
            [markerDraggable]="false">
            <agm-info-window>
              <h3>{{place[number].name}}</h3>
              <p>{{place[number].distance}} mi</p>
              <button (click)="onVisited(place[number])">Been There</button>
            </agm-info-window>
          </agm-marker>
        </div>
      </div>
    </agm-map>
  </div>
  <div *ngIf="places===undefined">
    <h2>LOADING.....</h2>
  </div>
</div>