table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    vertical-align: top;
}
th, td {
    padding: 10px;
    line-height: 20px;
    height: 20px;
}
th{
    background-color: #D3D3D3;
}
agm-map
{
    height: 526px;
    width: 100%;
}
agm-map > div{
    border-radius: 100px;
}

.logged{
    height: 40px;
    width: 4%;
    margin-bottom: 14px;
    margin-right: 5px;
}

.greeting{
    display: inline-block;
}

.form_types input{
    border-radius: 15px;
}
select{
    border-radius: 15px;
}
.form_types{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.main_cont{
    background-image: url('cream.png');
    height: 100vh;
    width: 100%;
    background-position: center;
}

#map_container{
    width: 63%;
    margin: auto;
    border: 8px solid #caded4;
    border-radius: 10px;
}

.submit{
    padding: 5px;
    text-align: center;
    width: 29%;
    margin: auto;
    margin-left: 15px;
}

label{
    margin-left: 15px;
}

.header{
    text-align: center;
    margin-top: 15px;
}
/* tr:nth-child(even) {background-color:#D3D3D3} */