<div>
  <!-- <h2>Hello {{user.name}}</h2> -->
  <h3>Filter</h3>
  <form ()>
    <label>Type of Place:
      <select name="type">
        <option value="all">All</option>
        <option value="food">Food</option>
        <option value=""></option>
      </select>
    </label>
    <label>Range from User: <input name="range" type="number" value="10"> - miles</label>
    <input type="submit" value="Filter">
  </form>

  <table>
    <thead>
      <tr>
        <th>Place Name</th>
        <th>Distance Away</th>
        <th>Actions</th>
      </tr>
    </thead> 
    <tbody *ngFor="let number of [0,1,2,3,4]" >
      <tr *ngFor="let place of places">
        <td *ngIf="place[number]">{{place[number].name}}</td>
        <td *ngIf="place[number]">{{place[number].distance}}</td>
        <td *ngIf="place[number]"><button (click)="onVisited(place[number])">Been There</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="places===undefined">
    <h2>LOADING.....</h2>
  </div>
</div>