<!--The content below is only a placeholder and can be replaced.-->
<div class="col-11">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">Log In Lock</button>
        <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Log Out Lock</button>
      </div>
    </div>
  </nav>
  <h1>SmartTourist</h1>
  <router-outlet></router-outlet>
</div>
